.topbar{
    width: 100%;
}
#steptopbar{
   height: 35px;
   margin: auto;
}

#steptopbar_step{
    width:25%;
    float: left;
    height: 5px;
}
#processbar{
    width: 100%;
 
}

.linkdisabled {
    pointer-events: none;
    cursor: default;
    text-decoration-line: none;
}
.linkabled {
    text-decoration-line: none;
}
#tabletitle1{
    width: 75%;
    text-align: center;
}
.mdl-data-table{
    width:75%;
}
#bt1{
margin-right: 40%;
margin-left: 8%;

}
#res_name{
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
}
#ordreinformation
{
    width:100%;
}
#checkdone{
     pointer-events: none;
    cursor: default;
}
#order_table1_container{
    text-align: -webkit-center;
    
}
#order_table1{
    max-width: 800px;
    min-width: 400px;
    width:100%;
}
#order_table2{
    max-width: 800px;
    min-width: 400px;
    width:100%;
}
#paycardcontainer{
min-width: 400px;
}
.paycard{
    min-width: 400px;
}
.paycard > .mdl-card__title {
  color: #fff;
   background: rgb(63,81,181);
   height:15%;
}
#done{ color: rgb(63,81,181); }
#notdo { color: rgba(0, 0, 0, 0.26); } 
#deliveryprocess{
    min-height:500px;
    max-width: 80%;
    margin: auto;
    padding: auto;
   /* margin-right: 30%;
    margin-left: 30%;*/
    
}
.mdl-step
{
    width: 600px;
    height: 20%;
     
}
.mdl-stepper > .mdl-step > .mdl-step__label{
    background-color: transparent;
}
.mdl-step > .mdl-step__content{
    height: 200px;
}
.deliveryprocesscard{
    margin: auto;
    padding: auto;
}


 .acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
}
 
.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color:rgb(63,81,181);
}
 
.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
}
 
.acidjs-rating-stars input
{
    display: none;
}
 
.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
}
 
.acidjs-rating-stars label
{
    color: #ccc;
}
 
.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
 
.acidjs-rating-stars input:checked ~ label
{
    color: rgb(255,64,129);
}
 
.acidjs-rating-disabled
{
    opacity: .50;
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}
#text7{
    width:80%;
}
.thankscard.mdl-card {
  width: 512px;
}
.thankscard > .mdl-card__title {
  color: #fff;
  height: 300px;
  background: url('../image/thanks.jpg') center / cover;
}
.thankscard > .mdl-card__menu {
  color: #fff;
}
.thankscard{
        padding: inherit;
    margin: auto;
}